/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Josefin+Sans&display=swap');

/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Josefin Sans', sans-serif;
*/

/*Centering Image CSS Value*/
.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Home Page CSS Values*/
.body-bg {
	background-color: black;
}

.link-home {
	font-size: 225%;
	font-family: 'Balsamiq Sans', cursive;
}

/*Story CSS Values*/
.text-story {
	font-family: 'Comic Neue', cursive;
	color: white;
	font-size: 150%;
}

.button-story {
	font-size: 20px;
	display: block;
	margin: 0 auto;
	background-color: black;
	color: lime;
}

.heading-story {
	text-align: center;
	color: gold;
	font-family: 'Balsamiq Sans', cursive;
}