/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Josefin+Sans&display=swap');

/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Josefin Sans', sans-serif;
*/

/*Centering Image CSS Value*/
.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Home Page CSS Values*/
.body-bg {
	background-color: black;
}

.links {
	font-size: 200%;
	font-family: 'Balsamiq Sans', cursive;
}

/*Story CSS Values*/
.text-story {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 150%;
}

.button-story {
	font-size: 25px;
	display: block;
	margin: 0 auto;
	background-color: black;
	color: lime;
	font-family: 'Josefin Sans', sans-serif;
}

.next-chapter {
	font-family: 'Josefin Sans', sans-serif;
	color: goldenrod;
	font-size: 175%;
	text-align: center;
}

.heading-story {
	text-align: center;
	color: gold;
	font-family: 'Balsamiq Sans', cursive;
}

.character {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: white
}

/*Misc Values*/
.invisible {
	visibility: hidden;
}

.error-text {
	color: white;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}